<div class="booyah-box">
<div class="row">
     <h1 class="col-md-5 col-sm-12 col-xs-12">Registration</h1> 
    <div class="checkout-wrap col-md-7 col-sm-12 col-xs-12 pull-right">
        <ul class="checkout-bar">
            <li><%=link_to 'Get Started', {:anchor => "personal"}, {:data => {:toggle => 'tab'} }%>
            </li>
            <li class=""> <%=link_to 'About you', {:anchor => "social"}, {:data => {:toggle=>"tab"} }%>
            </li>
            <li class=""><a href="#">Review</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="tabbable-panel">
        <div class="tabbable-line">
            <ul class="nav nav-tabs ">
                
                <li>
                <%=link_to 'Get Started', {:anchor => "personal"}, {:data => {:toggle => 'tab'} }%>        </li>
               <li class=""> <%=link_to 'About you', {:anchor => "social"}, {:data => {:toggle=>"tab"} }%>
            </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="get-started">
                    <div class="form">
                       
                        <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                                            <%= f.error_notification %>


                                          <div class="form-inputs">
                                           <%= f.label 'Vendor Permit' %>
                                           <%= f.input :image %>
                                          </div>

                                        <% end %>
                                    </div>
                                </div>
                                
                                
                                
                <div class="tab-pane" id="about-you">
                    <div class="form">
                        
                        <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
                            <div class="row">
                            <h1> About you</h1>
                                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                                          <%= f.error_notification %>

                                          <%= f.input :name%>
                                          <%= f.input :username %>
                                          <%= f.label "Pick an Account Type" %>
                                          <%= f.select :type, ["Artisan", "Customer"] %>
                                            
                                          <%= f.input :image%>

                                        <br />
                                          


                                        <% end %>  -->
                                    </div>
                                  </div>
                                
                                </div>
                              </div>


                            


<
