<div class="booyah-box">
<div class="row">
     <h1 class="col-md-5 col-sm-12 col-xs-12">Registration</h1> 
    <div class="checkout-wrap col-md-7 col-sm-12 col-xs-12 pull-right">
        <ul class="checkout-bar">
            <li class="active"><a href="#get-started" data-toggle="tab">Get Started</a>
            </li>
            <li class=""><a href="#about-you" data-toggle="tab">About You</a>
            </li>
            <li class=""><a href="#looking-for" data-toggle="tab">Looking For</a>
            </li>
            <li class=""><a href="#">Review</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="tabbable-panel">
        <div class="tabbable-line">
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#get-started" data-toggle="tab"> Get Started </a>
                </li>
                <li><a href="#about-you" data-toggle="tab"> About You </a>
                </li>
                <li><a href="#looking-for" data-toggle="tab"> Looking For </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="get-started">
                    <div class="form">
                        <asp:ValidationSummary runat="server" CssClass="text-danger" />
                        <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                                            <%= f.error_notification %>


                                          <div class="form-inputs">
                                           <%= f.label 'Vendor Permit' %>
                                           <%= f.input :image %>
                                          </div>

                                        <% end %>
                                    </div>
                                </div>
                                
                                
                                
                <div class="tab-pane" id="about-you">
                    <div class="form">
                        
                        <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
                            <div class="row">
                                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                                          <%= f.error_notification %>

                                          <%= f.input :name%>
                                          <%= f.input :username %>
                                          <%= f.label "Pick an Account Type" %>
                                          <%= f.select :type, ["Artisan", "Customer"] %>
                                            
                                          <%= f.input :image%>

                                        <br />
                                          


                                        <% end %> 
                                    </div>
                                  </div>
                                
                                </div>
                              </div>
                            

                            


<
