<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :username, required: true, autofocus: true %>
    <br />
    <div class="form-group text-center">
      <%= f.label :date_of_birth %> 
      <%= f.date_field :date_of_birth, required: true, autofocus: true %>
      <%= f.label :phone_number %>
      <%= f.telephone_field :phone_number, autofocus:true %>
      <br />
    </div>
    <%= f.input :favorite_color %>
    <%= f.input :favorite_song %>
    <%= f.input :image %>
    <%= f.input :email, required: true, autofocus: true %>
    <br />

    <%= f.input :password, required: true, hint: ("#{ @minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>

  </div>
<br />
  <div class="form-actions">
    <%= f.button :submit, "Sign up" , class:'btn btn-primary'%>
  </div>
<% end %>
<br />
<%= render "devise/shared/links" %>
</div>